@ charset "UTF-8";

* {
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
}

body {
background-image: linear-gradient(to right, #F2E0D0, #F2C3A7);
}

main {
background-color: white;
border-radius: 10px;
box-shadow: 5px 5px 15px #a78471e1;
width: 600px;
padding: 10px;
margin: auto;
}

h1 {
  color: #A0D9D9;
  text-align: center;
  text-shadow: 1px 1px 1.5px #435a5ad8;
}

h2 {
  color: #21AFBF;
}

p {
  text-align: justify;
}